.radio {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  margin-right: 20px;
}

.radio__icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  border: 1px solid var(--dark-25);
  border-radius: 10px;
  position: relative;
}

.radio__icon::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  background: linear-gradient(180deg, var(--purple) 0%, var(--blue) 100%);
  width: 12px;
  height: 12px;
  border-radius: 10px;
  margin: -6px 0 0 -6px;
  transform: scale(0);
  will-change: transform;
  transition: transform .3s ease;
}

.radio__control:checked~.radio__icon::before {
  transform: scale(1);
}

.radio__text {
  position: relative;
  top: 2px;
}