.title {
  font-weight: 700;
  line-height: 1.3;
  color: var(--dark);
  margin-top: 0;
  margin-bottom: 20px;
}

.title--h1 {
  font-size: 23px;
}

.title--h2 {
  font-size: 19px;
  line-height: 1.26;
}

.title--h3 {
  font-size: 12px;
  text-transform: uppercase;
}

@media (max-width:576px) {
  .title--h1 {
    font-size: 20px;
  }
}