.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, var(--purple) 0%, var(--blue) 100%);
  z-index: 1999;
  transition: opacity .3s ease;
}

.preloader--hidden {
  opacity: 0;
  z-index: -1;
}

.preloader__icon {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  border: 2px solid var(--white-20);
  border-top-color: var(--white);
  margin: -20px 0 0 -20px;
  border-radius: 50%;
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}