.footer{
  background-color: var(--white);
}

.footer__top + .footer__bottom{
  border-top: 1px solid var(--dark-10);
}

.footer__container-top{
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer__container-bottom{
  padding-top: 23.5px;
  padding-bottom: 23.5px;
  display: flex;
}

.footer__social{
  margin-left: auto;
}

.footer__copyright{
  margin: 0;
}



.footer__columns{
  display: flex;  
  margin-left: -20px;
  margin-right: -20px;
}

.footer__column{
  padding-left: 20px;
  padding-right: 20px;
}

.footer__column:nth-of-type(1){
  width: 260px;
}

.footer__column:nth-of-type(2){
  width: 160px;
}

.footer__column:nth-of-type(3){
  width: 160px;
}

.footer__column:last-of-type{
  margin-left: auto;
}

.footer__title{
  margin-top: 5px;
  margin-bottom: 18px;
}

.footer__menu{
  padding-left: 0;
  list-style: none;
  margin: 0;
}

.footer__item + .footer__item{
  margin-top: 15px;
}

.footer__link{
  text-decoration: none;
  color: var(--dark-50);
  transition: color .3s ease;
}

.footer__link:hover,
.footer__link:focus,
.footer__link:active{
  color: var(--dark-75);
  text-decoration: none;
}