.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  background: var(--white);
  box-shadow: 0 10px 20px var(--dark-5);
}

.navbar__container {
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  align-items: center;
}

.navbar__collapse {
  margin-left: auto;
  margin-right: 20px;
}

.navbar__menu {
  display: flex;
  align-items: center;
  padding-left: 0;
  margin: 0;
  list-style: none;
}

.navbar__item {
  position: relative;
}

.navbar__link {
  display: block;
  color: var(--dark-50);
  text-decoration: none;
  padding: 5px 10px;
  transition: color .3s ease;
}

.navbar__link:hover,
.navbar__link:focus,
.navbar__link:active {
  color: var(--dark-75);
}

.navbar__link--active {
  font-weight: 700;
  color: var(--dark-75);
}

.navbar__link-icon {
  margin-left: 5px;
  display: inline-block;
  font-size: 8px;
  will-change: transform;
  transition: transform .3s ease;
}

.navbar__btn-login {
  margin-right: 20px;
}

.navbar__btn-reg--mobile {
  display: none;
}

.navbar__submenu {
  position: absolute;
  top: 100%;
  left: 0;
  padding: 10px 0;
  margin: 0;
  list-style: none;
  min-width: 200px;
  width: 100%;
  z-index: -1;
  will-change: transform;
  transition: transform .3s ease;
  background-color: var(--white);
  box-shadow: 0px 10px 20px var(--dark-5);
  border-radius: 5px;
  border: 1px solid var(--dark-5);
  transform-origin: center center;
  transform: scale(0);
}

.navbar__item:hover .navbar__submenu {
  z-index: 99;
  transform: scale(1);
}

.navbar__item:hover .navbar__link-icon {
  transform: rotate(180deg) translateY(2px);
}

.navbar__submenu .navbar__link {
  padding: 5px 20px;
}

.navbar__hamburger {
  display: none;
  background-color: transparent;
  border: none;
  width: 30px;
  height: 26px;
  position: relative;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;
  outline: none;
  margin-left: 20px;
}

.navbar__hamburger-line {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background-color: var(--dark-50);
  border-radius: 2px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  will-change: transform;
  transition: .25s ease-in-out;
}

.navbar__hamburger-line:hover {
  background-color: var(--dark-75);
}

.navbar__hamburger-line:nth-child(1) {
  top: 0px;
}

.navbar__hamburger-line:nth-child(2) {
  top: 10px;
}

.navbar__hamburger-line:nth-child(3) {
  top: 20px;
}

.navbar__hamburger--open .navbar__hamburger-line {
  background-color: tomato;
}

.navbar__hamburger--open .navbar__hamburger-line:nth-child(1) {
  top: 10px;
  transform: rotate(135deg);
}

.navbar__hamburger--open .navbar__hamburger-line:nth-child(2) {
  opacity: 0;
  left: -30px;
}

.navbar__hamburger--open .navbar__hamburger-line:nth-child(3) {
  top: 10px;
  transform: rotate(-135deg);
}

@media (max-width: 991px) {
  .navbar__collapse {
    margin-left: 0;
    margin-right: 0;
    width: 320px;
    min-height: calc(100vh - 70px);
    max-height: calc(100vh - 70px);
    overflow-y: auto;
    overflow-x: hidden;
    padding: 20px 40px;
    border-top: 1px solid var(--dark-10);
    background-color: var(--white);
    z-index: 99;
    position: fixed;
    top: 70px;
    right: 0;
    transform: translateX(100%);
    will-change: transform;
    transition: transform .3s ease;
  }

  .navbar__collapse--open {
    transform: translateX(0);
  }

  .navbar__hamburger {
    display: block;
  }

  .navbar__menu {
    flex-direction: column;
    width: 100%;
  }

  .navbar__item {
    display: block;
    width: 100%;
  }

  .navbar__btn-login {
    margin-left: auto;
  }

  .navbar__submenu {
    position: relative;
    top: 0;
    padding: 0 0 10px;
    min-width: 200px;
    z-index: 1;
    box-shadow: none;
    border-radius: 0;
    border: none;
    transform-origin: 0 0;
    transform: scale(1);
  }

  .navbar__submenu .navbar__link {
    padding-left: 40px;
  }

  .navbar__link-icon {
    display: none;
  }

  .navbar__btn-login {
    margin-right: 0;
  }

  .navbar__btn-reg {
    display: none;
  }

  .navbar__btn-reg--mobile {
    display: block;
    margin: 15px 0;
  }
}