<!DOCTYPE html>
<html lang="ru">

<head>
  <title>TOXIN</title>
  <meta charset="UTF-8">
  <meta name="keywords" content='TOXIN'>
  <meta name="description" content='TOXIN'>
  <meta name="author" content='Dmitriy Shvanyk'>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="shortcut icon" href="./favicon.ico">  
  <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.chunks.index.css %>">
</head>

<body>

  <div class="root">

    <!--header.begin-->
    <header class="header">

    </header>
    <!--header.end-->

    <!--content.begin-->
    <main class="content">

    </main>
    <!--content.end-->

    <!--footer.begin-->
    <footer class="footer">

    </footer>
    <!--footer.end-->

  </div>

  <script src="<%= htmlWebpackPlugin.files.chunks.index.entry %>"></script>

</body>

</html>