<!DOCTYPE html>
<html lang="ru">

<head>
  <title>TOXIN</title>
  <meta charset="UTF-8">
  <meta name="keywords" content='TOXIN'>
  <meta name="description" content='TOXIN'>
  <meta name="author" content='Dmitriy Shvanyk'>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="shortcut icon" href="./favicon.ico">
  <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.chunks.searchRoom.css %>">
</head>

<body>

  <div class="root">

    <!--navbar.begin-->
    <navbar class="navbar">
      <div class="container navbar__container">
        <a href="/" class="logo">
          <img class="logo__image" src="<%=require('./images/logo.svg')%>" alt="">
        </a>
        <div class="navbar__collapse">
          <ul class="navbar__menu">
            <li class="navbar__item"><a href="#" class="navbar__link navbar__link--active">О нас</a></li>
            <li class="navbar__item">
              <a href="#" class="navbar__link">
                Услуги
                <span class="icon-expand navbar__link-icon"></span>
              </a>
              <ul class="navbar__submenu">
                <li class="navbar__item"><a href="#" class="navbar__link">Услуга 1</a></li>
                <li class="navbar__item"><a href="#" class="navbar__link">Услуга 2</a></li>
                <li class="navbar__item"><a href="#" class="navbar__link">Услуга 3</a></li>
                <li class="navbar__item"><a href="#" class="navbar__link">Услуга 4</a></li>
              </ul>
            </li>
            <li class="navbar__item"><a href="#" class="navbar__link">Вакансии</a></li>
            <li class="navbar__item"><a href="#" class="navbar__link">Новости</a></li>
            <li class="navbar__item">
              <a href="#" class="navbar__link">
                Соглашения
                <span class="icon-expand navbar__link-icon"></span>
              </a>
              <ul class="navbar__submenu">
                <li class="navbar__item"><a href="#" class="navbar__link">Соглашение 1</a></li>
                <li class="navbar__item"><a href="#" class="navbar__link">Соглашение 2</a></li>
                <li class="navbar__item"><a href="#" class="navbar__link">Соглашение 3</a></li>
                <li class="navbar__item"><a href="#" class="navbar__link">Соглашение 4</a></li>
              </ul>
            </li>
          </ul>
          <button class="btn btn--sm navbar__btn-reg navbar__btn-reg--mobile">зарегистрироваться</button>
        </div>
        <a class="btn btn--outline btn--sm navbar__btn-login" href="login.html">
          <span class="btn__text btn__text--sm">войти</span>
        </a>
        <a class="btn btn--sm navbar__btn-reg" href="registration.html">
          зарегистрироваться
        </a>
        <button class="navbar__hamburger">
          <span class="navbar__hamburger-line"></span>
          <span class="navbar__hamburger-line"></span>
          <span class="navbar__hamburger-line"></span>
        </button>
      </div>
    </navbar>
    <!--navbar.end-->    

    <!--main.begin-->
    <main class="main">
      <div class="search-room">
        <div class="container search-room__container">
          <aside class="search-room__sidebar">

          </aside>
          <section class="search-room__content">
            <h1 class="title search-room__title">Номера, которые мы для вас подобрали</h1>
          </section>
        </div>        
      </div>      
    </main>
    <!--main.end-->

    <!--footer.begin-->
    <footer class="footer">
      <div class="footer__top">
        <div class="container footer__container-top">
          <div class="footer__columns">
            <div class="footer__column">
              <a href="/" class="logo footer__logo">
                <img class="logo__image" src="<%=require('./images/logo.svg')%>" alt="">
              </a>
              <p class="footer__caption">Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные
                взгляды»</p>
            </div>
            <div class="footer__column">
              <h3 class="title title--h3 footer__title">навигация</h3>
              <ul class="footer__menu">
                <li class="footer__item"><a href="#" class="footer__link">О нас</a></li>
                <li class="footer__item"><a href="#" class="footer__link">Новости</a></li>
                <li class="footer__item"><a href="#" class="footer__link">Служба поддержки</a></li>
                <li class="footer__item"><a href="#" class="footer__link">Услуги</a></li>
              </ul>
            </div>
            <div class="footer__column">
              <h3 class="title title--h3 footer__title">о нас</h3>
              <ul class="footer__menu">
                <li class="footer__item"><a href="#" class="footer__link">О сервисе</a></li>
                <li class="footer__item"><a href="#" class="footer__link">Наша команда</a></li>
                <li class="footer__item"><a href="#" class="footer__link">Вакансии</a></li>
                <li class="footer__item"><a href="#" class="footer__link">Инвесторы</a></li>
              </ul>
            </div>
            <div class="footer__column">
              <h3 class="title title--h3 footer__title">Служба поддержки</h3>
              <ul class="footer__menu">
                <li class="footer__item"><a href="#" class="footer__link">Соглашения</a></li>
                <li class="footer__item"><a href="#" class="footer__link">Сообщества</a></li>
                <li class="footer__item"><a href="#" class="footer__link">Связь с нами</a></li>
              </ul>
            </div>
            <div class="footer__column">

              <div class="subscribe footer__subscribe">
                <div class="subscribe__head">
                  <h3 class="title title--h3 footer__title">Подписка</h3>
                  <p class="subscribe__text">Получайте специальные предложения и новости сервиса</p>
                </div>
                <div class="subscribe__body">
                  <form action="#" class="subscribe__form" method="POST">
                    <input type="email" class="control subscribe__control" placeholder="Email" required>
                    <button class="subscribe__submit">
                      <span class="icon-arrow-right subscribe__submit-icon"></span>
                    </button>
                  </form>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
      <div class="footer__bottom">
        <div class="container footer__container-bottom">
          <p class="footer__copyright">
            Copyright © <span class="footer__years">2018</span> Toxin отель. Все права зачищены.
          </p>

          <div class="social footer__social">
            <a href="#" class="social__item"><span class="icon-twitter social__icon"></span></a>
            <a href="#" class="social__item"><span class="icon-fb social__icon"></span></a>
            <a href="#" class="social__item"><span class="icon-instagram social__icon"></span></a>
          </div>

        </div>
      </div>
    </footer>
    <!--footer.end-->



  </div>

  <script src="<%= htmlWebpackPlugin.files.chunks.searchRoom.entry %>"></script>

</body>

</html>