.form {
  background-color: var(--white);
  padding: 42px 30px 30px;
  box-shadow: 0px 0px 25px var(--dark-50);
  border-radius: 4px;
}

.form__item {
  margin-bottom: 20px;
}

.form__columns {
  display: flex;
  margin-left: -10px;
  margin-right: -10px;
}

.form__column {
  flex-grow: 1;
  flex-basis: 0;
  padding-left: 10px;
  padding-right: 10px;
}

.form__submit {
  width: 100%;
  position: relative;
  margin-top: 11px;
}

.form__submit-icon {
  position: absolute;
  top: 50%;
  right: 15px;
  font-size: 18px;
  will-change: transform;
  transform: translateY(-50%);
  transition: transform .3s ease-in-out;
}

.form__submit:hover .form__submit-icon {
  transform: translateY(-50%) translateX(-5px);
}

@media (max-width:576px) {
  .form {
    padding-left: 20px;
    padding-right: 20px;
  }
}